/*
  Pierre-Nathan Duchesne (20307443)
  Diego Felipe Duran Lezama (20246326)
*/

/*------------*/
/* CSS global */
/*------------*/
h1 {
  font-family: "Quintessential", cursive;
  font-size: 80px;
  text-align: center;
  color: goldenrod;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 2px 2px 2px rgba(0, 0, 0, 0.8);
}

h2 {
  font-family: "Quintessential", cursive;
  font-size: 40px;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 2px 2px 2px rgba(0, 0, 0, 0.8);
  color: goldenrod;
}

p, ul, ol {
  font-family: "Quintessential", cursive;
  font-size: 25px;
  color: goldenrod;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 2px 2px 2px rgba(0, 0, 0, 0.8);
}

ul, ol {
  font-size: 20px;
}

.top-nav {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  background: rgba(0, 0, 0, 0.4);
  border-bottom: 2px solid #c7a008;
  border-radius: 0 0 20px 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
  z-index: 1000;
  text-decoration: none;
  color: #f1d97a;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  transition: color 0.3s, text-shadow 0.3s;
}

.top-nav a {
  color: #ffd700;
}

.top-nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  margin: 0;
  list-style: none;
}

.top-nav li {
  margin: 0 20px;
}

.top-nav a:hover {
  color: #ffffff;
  text-shadow: 0 0 8px #f5d46c;
}

.footer {
  display: flex;
  justify-content: center;
  margin: auto;
}

/*-----------------------*/
/* CSS pour page accueil */
/*-----------------------*/
.accueil-body {
  background-image: url(images/hogwarts.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  margin: 0;
  min-height: 100vh;
}

blockquote {
  font-family: "Quintessential", cursive;
  font-size: 40px;
  color: goldenrod;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 2px 2px 2px rgba(0, 0, 0, 0.8);
  font-style: italic;  
}

.texte-desc {
  font-family: "Quintessential", cursive;
  font-size: 25px;
  color: goldenrod;
  text-align: justify;
  margin-left: 5%;
  margin-right: 5%;
  text-shadow: 0 0 5px #000, 0 0 10px #000, 0 0 15px #000, 0 0 20px #000, 2px 2px 2px rgba(0, 0, 0, 0.8);
}

.image-embleme {
  width: 20%;
  height: 20%;
  display: flex;
  justify-content: center;
  margin: auto;
  animation: fade-in 1s ease 0s 1 normal forwards;
}

.image-maison {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 25px;
  margin-top: 120px;
}

.maison {
  text-align: center;
  color: #f1d97a;
  font-family: "Quintessential", cursive;
  width: 100%;
}

.maison p {
  margin-bottom: 8px;
  font-weight: bold;
  font-size: 20px;
  text-shadow: 0 0 6px #000;
  margin: 0 0 8px 0;
}

.maison img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s;
}

.maison img:hover {
  transform: scale(1.05);
}

/*--------------------------*/
/* CSS pour page découverte */
/*--------------------------*/

.decouverte-body {
  background-color:rgb(40, 30, 20);
}

/* section qui contient chacun un point d'intérêt */
.decouverte-body section {
  position: relative;
  padding: 7% 5%;
  margin: 2% 10%;
  display: flex;
  background-size: cover;
  background-position: center;
  border-radius: 2em;
  overflow: hidden;
  background-repeat: no-repeat;
  animation: fade-in 1s ease 0s 1 normal forwards;
}

.decouverte-body section:hover .poi {
  transform: scale(1.2);
}

/* point d'intérêts (grand escalier, biblio, terrain de Quidditch) */
.poi {
  position: absolute;
  inset: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: transform 1s ease;
}

.grand-escalier .poi {
  background-image: linear-gradient(to left, transparent, rgb(25, 20, 15) 100%), url(images/grand-staircase.jpg);
}

.bibliotheque .poi {
  background-image: linear-gradient(to right, transparent, rgb(25, 20, 15) 100%), url(images/library.jpg);
}

.terrain-quidditch .poi {
  background-image: linear-gradient(to left, transparent, rgba(25, 20, 15) 100%), url(images/quidditch_terrain.png);
}

.grand-escalier h2 {
  font-family: "Cinzel Decorative", system-ui;
}

.bibliotheque h2 {
  font-family: "Petit Formal Script", cursive;
}

.terrain-quidditch h2 {
  font-family: "Uncial Antiqua", system-ui;
  font-weight: 400;
}

.overlay-left, .overlay-right {
  position: relative;
  width: 100%;
  z-index: 1;
}

.overlay-left {
  text-align: left;
  left: 0;
}

.overlay-right {
  text-align: right;
  right: 0;
}

/* animation faite avec https://webcode.tools/css-generator/keyframe-animation */
@keyframes fade-in {
	0% {
		opacity: 0;
		transform: scale(0.6);
	}

	100% {
		opacity: 1;
		transform: scale(1);
	}
}

/*-----------------------*/
/* CSS pour page galerie */
/*-----------------------*/

.gallery-body {
  background-color:rgb(40, 30, 20);
}

.gallery-main {
  align-items: center;
  justify-items: center;
  padding: 0% 5%;
}

.gallery {
  margin: 3% 0%;
}

.gallery-img {
  float: left;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  width: 33.33%;
  padding: 10px;
  animation: fade-in 1s ease 0s 1 normal forwards;
  opacity: 0;
}

/* délais des animations on load */
/* généralisable avec une boucle for, mais je sais pas si on a le droit */
.gallery-img:nth-child(1) { animation-delay: 0s;   }
.gallery-img:nth-child(2) { animation-delay: 0.2s; }
.gallery-img:nth-child(3) { animation-delay: 0.4s; }
.gallery-img:nth-child(4) { animation-delay: 0.6s; }
.gallery-img:nth-child(5) { animation-delay: 0.8s; }
.gallery-img:nth-child(6) { animation-delay: 1s;   }

.gallery-img img {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform 0.2s ease;
  border: 4px solid black;
  border-radius: 1em;
}

.gallery-img:hover img {
  transform: scale(1.05);
  border-color: goldenrod;
}

/* nécessaire pour que le footer apparaisse en bas de la page */
/* (il faut clear les float) */
.gallery::after {
  content: "";
  display: block;
  clear: both;
}

/*-----------------------*/
/* CSS pour page contact */
/*-----------------------*/

.contact-body {
  background-image: url(images/greatHall.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  color: #f1d97a;
  font-family: 'Cinzel', serif;
  text-align: center;
  margin: 0;
  padding: 0;
}

.header-body {
  padding: 50px 20px 20px;
}

.header-body h1 {
  font-size: 2.8em;
  text-shadow: 0 0 15px #d4b100;
}

.header-body p {
  font-family: 'Quintessential', cursive;
  color: #e8c04f;
  font-size: 1.2em;
}

.contact-section {
  margin: 50px auto;
  background: rgba(40, 30, 10, 0.3);
  border: 2px solid #c8a951;
  border-radius: 15px;
  width: 80%;
  max-width: 600px;
  padding: 30px;
  box-shadow: 0 0 30px rgba(255, 215, 0, 0.2);
}

.contact-section h2 {
  font-family: 'Quintessential', cursive;
  font-size: 2em;
  margin-bottom: 20px;
  text-shadow: 0 0 10px #bfa64b;
}

.contact-item {
  font-family: 'Quintessential', cursive;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 15px 0;
  font-size: 1.1em;
}
.contact-item a {
  font-family: 'Quintessential', cursive;
  color: #f7e98e;
  text-decoration: none;
  font-weight: bold;
}

.contact-item a:hover {
  text-decoration: underline;
  color: #fff6b4;
}

footer {
  padding: 15px;
  font-size: 0.9em;
  color: #d1b15a;
  display: flex;
  justify-content: center;
  margin: auto;
}

/*CSS pour le SVG dans la page Contact*/
.hogwarts-link {
  text-decoration: none;
  display: inline-block;
}

.hogwarts-blason {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.hogwarts-blason svg {
  filter: drop-shadow(0 0 10px #f1d97a);
  transition: transform 0.3s ease;
}
.hogwarts-blason svg:hover {
  transform: scale(1.1);
}
.chapeau-SVG {
  position: relative;
}

.chapeau-SVG svg{
  position: absolute;
  right: 500px;
  top: 50%;
  transform:translateY(-50%);
  width: 150px;
  height: 150px;
  fill: #f1d97a;
  flex-shrink: 0;
  filter: drop-shadow(0 0 6px #f1d97a);
  transition: transform 0.3s ease;
}

.chapeau-SVG svg:hover {
  transform: scale(1.1)
}
.anim {
  width: 100%;
  height: 200px;
}

/* Animation du hibou */
@keyframes fly {
  0% {
    transform: translateX(-150px);
    fill: #9dd437;
  }
  50% {
    fill: #ffd903; 
  }
  100% {
    transform: translateX(100vw);
    fill: #221a01;
  }
}

.hibou {
  animation: fly 10s linear infinite;
}

/* Détails du hibou */
.oeil-blanc {
  fill: white;
}

.oeil-noir {
  fill: black;
}

.bec {
  fill: darkorange;
}

.aile {
  fill: none;
  stroke: currentColor;
  stroke-width: 5;
}